@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Bangazon Workforce is an internal application designed to be used by our human resources and IT departments.
    The application will allow employees to create, list, and view Employees, Training Programs, Departments, and Computers.
    This application was built with ASP.NET MVC Web using Visual Studio on Windows and using SQL Server as the database engine. 
</p>
<p>
    Snuggle Destruction is comprised of the following members:
    <ul>
        <li>
            <a href="https://https://github.com/deliotclarke">Eliot Clarke</a>
        </li>
        <li>
            <a href="https://https://github.com/https://github.com/nate-fleming">Nate Flemning</a>
        </li>
        <li>
            <a href="https://https://github.com/https://github.com/https://github.com/BurakNash">Burak Kaya Koc</a>
        </li>
        <li>
            <a href="https://https://github.com/https://github.com/https://github.com/https://github.com/carlybergthold"> Carly Bergthold</a>
        </li>
        <li>
            <a href="https://https://github.com/https://github.com/https://github.com/https://github.com/shelleyeti"> Shelley Arnold</a>
        </li>
    </ul>
</p>
