@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   301 Interstate Blvd<br />
    Nashville, TN 37420<br />
    <abbr title="Phone">P:</abbr>
    800-575-3646
</address>

<address>
    <strong>Support:</strong> <a href="mailto:adams-hat@hat.emporium.com">Adams-Hat@hat.emporium.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jisie@look.at.me.com">Jisie@look.at.me.com</a><br />
    <strong>Crowd Control:</strong> <a href="mailto:kristen@dogmom.com">Kristen@dogmom.com</a>
</address>
