@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>If you would like to have your personal information removed from our database simply hand deliver a letter written in fancy 
    cursive writing to our constantly moving RV somewhere in North America. Include your name, social security number, address, 
    date of birth, ATM PIN, photographs of three forms of government ID, the name of your favorite teacher, the model name of your 
    first car, and your favorite concert. If you successfully find us, please allow 4-6 weeks for processing.</p>
