@model SnuggleDestructionBangazonWorkforce.Models.ViewModels.EmployeeTrainingProgramViewModel

@{
    ViewData["Title"] = "TrainingProgramsForm";
}

<h2>Training Programs</h2>

<h4>Assign a Training Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>
            <dt>
                Department
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
        </dl>
        /@* <div class="form-group">
                <label asp-for="Student.CohortId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Student.CohortId, Model.Cohorts);
                <span asp-validation-for="Student.CohortId" class="text-danger"></span>
            </div> *@
        <form asp-action="TrainingProgramsForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
